@{
    ViewData["Title"] = "Values statistics";
}
@*<dx-chart>
    <datasource load-action="OrderValues" />
    <common-series-settings argument-field="Value" value-field="Count" type="FullStackedBar"  />
    <series-template name-field="Value" />
    <value-axis>
        <label format="Decimal" />
    </value-axis>
    <title text="Orders values"></title>
    <legend vertical-alignment="Bottom" horizontal-alignment="Center" />
    <tooltip enabled="true" />
</dx-chart>*@
<dx-pie-chart>
    <datasource load-action="OrderValues" />
    <series argument-field="Value" value-field="Count">
        <label visible="true" position="DevExtreme.AspNet.TagHelpers.PieChartLabelPosition.Outside" background-color="transparent" />
    </series>
    <title text="Orders Values"></title>
</dx-pie-chart>
<dx-data-grid>
    <datasource load-action="OrderValuesDetail" />
    <column datafield="Author" caption="User">
    </column>
    <column datafield="Value" caption="Value">
    </column>
</dx-data-grid>