@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<h1>Главная страница EasyLogistics</h1>
<a asp-controller="Info" asp-action="Index" class="btn btn-primary">Make an order</a>
<a asp-action="GetInfo" class="btn btn-primary">GetInfo</a>
@section Scripts{
    <script type="text/javascript">
        if (window.jQuery) {
            alert("OK");  
        } else {
            alert(":(");
        }
    </script>
}