@{
    ViewData["Title"] = "Home Page";
}
<h1>Главная страница EasyLogistics</h1>
<a asp-controller="Info" asp-action="Index" class="btn btn-primary">Make an order</a>
<a asp-action="GetInfo" class="btn btn-primary">GetInfo</a>